.item-wrapper{
  border-bottom: solid 1px #ededed;
}


.media-wrapper {
  overflow: hidden;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  flex-shrink: 0;
  background: rgb(121,103,211);
  background: linear-gradient(315deg, rgba(121,103,211,1) 0%, rgba(181,171,234,1) 100%);
}

.full-name{
  font-size: 0.8rem;
}

.media-text{
  color: white;
  font-size: 1rem;
}

.close-btn{
  font-size: 1.2rem;
}

.add-members-btn {
  font-size: 15px;
  border-radius: 4px;
  cursor: pointer;
  text-align: left;
  white-space: nowrap;
  color: black;
  font-weight: 400;
}
