@import '../../../../shared/variables';

.wrapper{
  padding-top: 6px;
  padding-left: 6px;
  padding-right: 6px;
}

.upload-percent{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 0.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.play-btn{
  border: none;
  border-radius: 23px;
  width: 36px;
  height: 36px;
  font-size: 1.05rem;
  flex-shrink: 0;
}
.outgoing{
  &.play-btn{
    background: $outgoing-dark;
    color: #effdde;
  }
  .upload-percent{
    color: #effdde;
  }
}

.incoming{
  &.play-btn{
    background: $incoming-dark;
    color: #ffffff;
  }
  .upload-percent{
    color: #ffffff;
  }
}


.desc{
  font-size: 22px;
}
.slider-wrapper{
  max-width: 100px;
  margin-right: 0.8rem;
}

.time-wrapper{
  font-size: 0.65rem;
}
