

$mobile-size: 680px;
$tablet-size: 770px;
$my-light-blue: #5dbaee;
$my-light-blue2: #5cbbf1;
$my-purple: purple;
$my-gray: #ededed;
$my-gray2: #cccccc;
$my-gray3: #adadad;
$my-gray4: #b8b8b8;
$my-gray5: #6c717d;
$my-gray6: #919191;
$border-color: #bcbcbc;
$my-magenta: #c55d7b;


$background: #1c1c1c;
$background-bottom: #222222;
$linkColor: #356dfa;
$secondary: #808080;

$primary: #ffffff;
