<div class="app-container h-100 d-flex flex-column justify-content-center align-items-center">


  @if (!isRegister) {
    <form class='login-form' [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <div class="flex-row">
        <label class="lf--label" for="username">
          <fa-icon class="icon" [icon]="faUser"/>
        </label>
        <div class="input-wrapper">
          <input type="text" formControlName="username" id="username" class="lf--input"
                 placeholder="Username" id="username"
                 [ngClass]="{ 'is-invalid': submitted && loginFormData['username'].errors }"/>
          <div *ngIf="submitted && loginFormData['username'].errors"
               class="invalid-feedback">
            <div class=""
                 *ngIf="loginForm.getErrorForControl('username', 'required')">
              Please enter username.
            </div>
          </div>
        </div>
      </div>
      <div class="flex-row">
        <label class="lf--label" for="password">
          <fa-icon class="icon" [icon]="faKey"/>
        </label>
        <div class="input-wrapper">
          <input type="password" formControlName="password" class="lf--input"
                 placeholder="Password" id="password"
                 [ngClass]="{ 'is-invalid': submitted && loginFormData['password'].errors }"/>
          <div *ngIf="submitted && loginFormData['password'].errors"
               class="invalid-feedback">
            <div class=""
                 *ngIf="loginForm.getErrorForControl('password','required')">
              Please enter password.
            </div>
          </div>
        </div>
      </div>
      <input class='lf--submit' type='submit' value='LOGIN'>
    </form>
    <a class='lf--forgot' href='#'>Forgot Password?</a>
    <a class='lf--forgot' (click)="onSwitch()">Sign Up</a>
  } @else {
    <form class='login-form' [formGroup]="registerForm" (ngSubmit)="onRegister()">
      <div class="flex-row">
        <label class="lf--label" for="first_name">
          <fa-icon class="icon" [icon]="faIdCard"/>
        </label>
        <div class="input-wrapper">
          <input type="text" formControlName="first_name" class="lf--input"
                 placeholder="First Name"
                 id="first_name_signup"
                 [ngClass]="{ 'is-invalid': submitted && registerFormData['first_name'].errors }"/>
          <div *ngIf="submitted && registerFormData['first_name'].errors"
               class="invalid-feedback">
            <div class=""
                 *ngIf="registerForm.getErrorForControl('first_name', 'required')">
              Please enter first name.
            </div>
          </div>
        </div>
      </div>
      <div class="flex-row">
        <label class="lf--label" for="last_name_signup">
          <fa-icon class="icon" [icon]="faIdCard"/>
        </label>
        <div class="input-wrapper">
          <input type="text" formControlName="last_name" class="lf--input"
                 placeholder="Last Name"
                 id="last_name_signup"
                 [ngClass]="{ 'is-invalid': submitted && registerFormData['last_name'].errors }"/>
          <div *ngIf="submitted && registerFormData['last_name'].errors"
               class="invalid-feedback">
            <div class=""
                 *ngIf="registerForm.getErrorForControl('last_name','required')">
              Please enter last name.
            </div>
          </div>
        </div>
      </div>
      <div class="flex-row">
        <label class="lf--label" for="username_signup">
          <fa-icon class="icon" [icon]="faUser"/>
        </label>
        <div class="input-wrapper">
          <input type="text" formControlName="username" class="lf--input"
                 placeholder="Username"
                 id="username_signup"
                 [ngClass]="{ 'is-invalid': submitted && registerFormData['username'].errors }"/>
          <div *ngIf="submitted && registerFormData['username'].errors"
               class="invalid-feedback">
            <div class=""
                 *ngIf="registerForm.getErrorForControl('username', 'required')">
              Please enter username.
            </div>
          </div>
        </div>
      </div>
      <div class="flex-row">
        <label class="lf--label" for="password_signup">
          <fa-icon class="icon" [icon]="faKey"/>
        </label>
        <div class="input-wrapper">
          <input type="password" formControlName="password" class="lf--input"
                 placeholder="Password"
                 id="password_signup"
                 [ngClass]="{ 'is-invalid': submitted && registerFormData['password'].errors }"/>
          <div *ngIf="submitted && registerFormData['password'].errors"
               class="invalid-feedback">
            <div class=""
                 *ngIf="registerForm.getErrorForControl('password','required')">
              Please enter password.
            </div>
          </div>
        </div>
      </div>
      <input class='lf--submit' type='submit' value='Sign Up'>
    </form>
    <a class='lf--forgot' href='#'>Forgot password?</a>
    <a class='lf--forgot' (click)="onSwitch()">Sign In</a>
  }

</div>
