
.outgoing {
  .message-status-wrapper {
    //padding-right: 6px;
  }
}

.incoming {
  .message-status-wrapper {
    //padding-right: 12px;
  }
}


.incoming {
  margin-right: 4px;
  .message-date {
    color: #a0aec9;
    font-size: 0.7rem;
  }

}


.outgoing {
  margin-right: 4px;
  .message-date {
    color: #6db566;
    font-size: 0.7rem;

  }
}


.message-status {
  width: 20px;
  display: flex;
  justify-content: flex-end;

  .dialog-pending {
    height: 10px;
    width: auto;
  }

  .dialog-check {
    height: 10px;
    width: auto;

  }

  .dialog-read {
    height: 10px;
    width: auto;

  }
}
