<div class="parent d-flex justify-content-center">
  <div class="app-container d-flex justify-content-center align-items-center" (outsideClick)="onParentClick()">
    <div class="w-100 dialog-wrapper my-shadow-lg">
      @for (contact of contacts; track contact.id; let idx = $index; let isLast = $last) {
        <div [class.item-wrapper]="!isLast" class="unselectable d-flex align-items-center" (click)="contact.is_selected = !contact.is_selected">
          <fa-icon class="circle-icon" [icon]="contact.is_selected ? faCircleCheck: faCircle"/>
          <div class="d-flex py-2 align-items-center">
            <div class="media-wrapper-item d-flex justify-content-center align-items-center ms-3">
              <div class="w-100 h-100 d-flex justify-content-center align-items-center">
                <div class="d-flex justify-content-center align-items-center media-text"
                     *ngIf="!contact.user?.media_id">
                  {{ getHeaderName(contact.user) }}
                </div>
                <img class="w-100 h-100 object-fit-cover" src="{{getPhotoSrc(contact.user)}}"
                     *ngIf="contact.user?.media_id">
              </div>
            </div>
            <div class="full-name ms-2">{{ contact.title }}</div>
          </div>
        </div>
      } @empty {
        <div>You have no contacts.</div>
      }
      <div class="d-flex mt-4" md-dialog-actions>
        <button md-button class="my-btn confirm-btn" (click)="onConfirmClick($event)">Add</button>
        <button md-button class="my-btn cancel-btn ms-3" (click)="onCancelClick($event)">Close</button>
      </div>
    </div>
  </div>
</div>
