.parent {
  backdrop-filter: blur(4px);
  background: transparent;
  height: 100%;
  width: 100%;
}

.dialog-wrapper {
  padding: 16px;
  background: rgba(255, 255, 255, 0.88);
  border-radius: 32px;
}

.confirm-btn {
  padding: 8px 16px;
  border-radius: 12px;
  color: white;
  background: #608be6;
}

.cancel-btn {
  padding: 8px 16px;
  border-radius: 12px;
  color: black;
  background: transparent;
}

::ng-deep {
  .cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
    opacity: 0;
  }

  .mat-dialog-container {
    padding: 0px;
    box-shadow: unset;
  }

  .mat-mdc-dialog-surface {
    background: rgba(0, 0, 0, 0) !important;
  }
}

.media-wrapper-item {
  overflow: hidden;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  flex-shrink: 0;
  background: rgb(121, 103, 211);
  background: linear-gradient(315deg, rgba(121, 103, 211, 1) 0%, rgba(181, 171, 234, 1) 100%);
}

.item-wrapper {
  border-bottom: solid 1px #ededed;
}

.full-name {
  font-size: 0.8rem;
}

.media-text {
  color: white;
  font-size: 1rem;
}

.circle-icon{
  font-size: 1.5rem;
}

