.logo-img{
  max-width: 60px;
  height: auto;
}

.finish-page-wrapper {
  background-color:white;
}
.item-text{

  color: #414141;
  font-family: MjDinarOneLight;
}
.got-it-btn{
  background: black;
  color: white;
  padding: 14px 4px;
  border-radius: 24px;
}
.ic-img{
  max-width: 30px;
  max-height: 30px;
}
.item-icon{
  flex: 0 0 14%;
  display: flex;
  justify-content: center;
  align-items: center;
}

